{{!-- Utilizamos un partial para el diseño de las cards del home --}}

<div class="container">

        {{#each payload}}
            <div id="{{this.id}}" class="card">
                <h3>Titulo: {{this.title}}</h3>
                <p>Descripcion: {{this.description}}</p>
                <p>Categoria: {{this.category}}</p>
                <p>Precio: {{this.price}}</p>
                <div>
                    <img src="{{this.thumbnails}}" alt="{{this.title}}">
                </div>
                <button class="btn">Agregar al carrito</button>
            </div>
            
        {{/each}}
</div>